{% extends "layout.html" %} {% block body %}
<!-- HEADER SEARCH DIV -->
<div
  class="filter container mx-auto bg-white flex flex-col md:flex-row items-center justify-between absolute top-[120px] rounded-md px-6 h-[70px]">
  <!-- filter by title... -->
  <div
    class="searchInput flex items-center h-full border-r-2 border-lightGray pr-3 md:flex-[4] flex-1">
    <img
      src="/static/images/desktop/icon-search.svg"
      alt="search icon"
      class="w-[24px] h-[24px] mr-3" />
    <input
      type="text"
      placeholder="Filter by title.."
      class="outline-none w-[70%]" />
  </div>
  <!-- filter by location -->
  <div
    class="location flex items-center h-full border-r-2 border-lightGray px-4 md:flex-[2] flex-1">
    <img
      src="/static/images/desktop/icon-location.svg"
      alt="location icon"
      class="w-[16px] h-[23px] mr-3" />
    <input
      type="text"
      placeholder="Filter by location"
      class="outline-none w-[70%]" />
  </div>
  <!-- filter by full time -->
  <div
    class="location flex items-center justify-center h-full md:flex-[3] flex-1 px-2">
    <input
      type="checkbox"
      name="filterByFullTime"
      id="filterByFullTime"
      class="outline-none md:w-[20px] md:h-[20px] w-[10px] h-[10px] mr-2 accent-darkBlue cursor-pointer" />
    <span class="md:mr-4 mr-2 font-bold text-sm">Full Time Only</span>
    <button
      class="bg-darkBlue md:py-2 md:px-7 py-1 px-3 rounded-md text-white hover:bg-lightBlue transition-colors ease-in-out">
      Search
    </button>
  </div>
</div>

<!-- MAIN PAGE CONTENT - JOBS CARDS -->
<div
  id="jobs-container"
  class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-[80px] mb-10">
  <!-- CARDS GOES HERE FROM JS CODE -->
</div>

<div
  id="load-more-btn"
  class="bg-darkBlue py-2 px-5 rounded-md text-white hover:bg-lightBlue transition-colors ease-in-out w-fit font-bold mx-auto mb-24 cursor-pointer">
  Load More
</div>
{% endblock %}
